<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/academics" (click)="onSidenavClose()">
        <mat-icon>contact</mat-icon><span class="nav-caption">Academics</span>
    </a>
    <a mat-list-item routerLink="/works" (click)="onSidenavClose()">
        <mat-icon>contact</mat-icon><span class="nav-caption">Work Experience</span>
    </a>
    <a mat-list-item routerLink="/projects" (click)="onSidenavClose()">
        <mat-icon>contact</mat-icon><span class="nav-caption">Projects</span>
    </a>
    <a mat-list-item routerLink="/researches" (click)="onSidenavClose()">
        <mat-icon>contact</mat-icon><span class="nav-caption">Research</span>
    </a>
    <a mat-list-item routerLink="/courses" (click)="onSidenavClose()">
        <mat-icon>contact</mat-icon><span class="nav-caption">Courses</span>
    </a>
    <a mat-list-item routerLink="/talks" (click)="onSidenavClose()">
        <mat-icon>talks</mat-icon><span class="nav-caption">Talks</span>
    </a>
    <a mat-list-item routerLink="/resume" (click)="onSidenavClose()">
        <mat-icon>contact</mat-icon><span class="nav-caption">Resume</span>
    </a>
</mat-nav-list>
