<section>
    <div class="container">        
        <div class="timeline">
            <ul>
                <li>
                    <div class="timeline-content">
                        <h3 class="date">2021-Present</h3>
                        <h2 class="program-name">Therap Services</h2>
                        <hr>
                        <h1>Senior Software Engineer</h1>
                        <p>As an IoT Engineer (Software side), I mostly worked at server side. The server side 
                            works include implementing a Rest API, a prototype interface that can talk to different 
                            prototype devices. I have also worked in firmwares - different firmware functions 
                            including updating a firmware. Implemented OTA, MQTT - the most popular workflows in IoT.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h3 class="date">2019-2021</h3>
                        <h2 class="program-name">Therap Services</h2>
                        <hr>
                        <h1>Software Engineer II</h1>
                        <p>Joined a R&D based IoT(Internet of Things) team. It is a thriving team - trying 
                        to implement IoT devices in already established documentation solutions of the company. 
                        Our research work includes wide investigations on different IoT workflows, protocols, 
                        already existing platforms, different cloud services, third party devices with Rest APIs. 
                        We research them, implement them, make prototypes and interface with them. 
                        Our tech stack includes: Spring, Spring boot, Different Cloud Infrastructures 
                        (Such as AWS or Oracle), Different messaging brokers (Using pub sub architectures) 
                        such as Activemq, Rabbitmq, Mosquito, Different APIs such as JPA (Java Persistence API), 
                        JMS (Java Messaging Server), Different tools (such as Hibernate, Postman).
                        Hardware stacks: Arduino (uno, nano, mega), Nodemcu (low-cost, open source IoT platform), 
                        low cost microchips including Wi-Fi modules such as ESP8266, ESP32.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h3 class="date">2017-2019</h3>
                        <h2 class="program-name">Therap Services</h2>
                        <hr>
                        <h1>Software Engineer</h1>
                        <p>Was involved with different modules of the main Therap Applications.
                           Modules were: eCHAT, Individual Support Plan (ISP), Employment History (EH),
                           Time Tracking, Training Management Systems, General Event Reports.
                           My job responsibilities involved: maintenance of these modules, bug fixings, redesign,
                           new features implementations etc.
                           ISP module was built on JBoss featured SEAM framework which was deprecated. Initially I 
                           was involved with maintenance works on this module. Soon after I made a new prototype of
                           the workflow of this module in Justinmind software to redesign it in Spring framework.
                           There is this another module I was highly involved with named Time Tracking module.  
                        </p>
                    </div>                        
                </li>
                <li>
                    <div class="timeline-content">
                        <h3 class="date">2016(October)-2017</h3>
                        <h2 class="program-name">Therap Services</h2>
                        <hr>
                        <h1>Associate Software Engineer</h1>
                        <p>Three months of training period. Learnt Servlet, JSP and Spring MVC framework.
                           Also started using Object-relation mapping tool named Hibernate and different Java
                           based APIs such JDBC (Java Database Connectivity) and JPA (Java Persistence API).
                           Moreover explored AOP (Aspect Oriented Programming) a bit.
                        </p>
                    </div> 
                </li>
                <li>
                    <div class="timeline-content">
                        <h3 class="date">2016(August)-2016(September)</h3>
                        <h2 class="program-name">Robi</h2>
                        <hr>
                        <h1>Intern (IP Networking Operational)</h1>
                        <p>I have worked as an intern for a very short period of time. It is a well known telecommunication 
                            company of the country. There I was operating with a Team called Networking (IP operational). 
                            The team’s work was based on the 3rd layer of OSI Model (Open Systems Interconnection Model) 
                            that is responsible for path determination & logical addressing of packets. 
                            The team was working on different router troubleshootings.
                        </p>
                    </div> 
                </li>
            </ul>
        </div>
    </div>
</section>
