<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="p-profile"></div>
                <br>
                <h2><i class="fas fa-quote-left fa-2x"></i> A firm believer of the concept called Continuous-Learning</h2>
            </div>
            <div class="col-sm-8 p-sect">
                <div>
                    <h1 class="mt-4">Hi, I am Rimi</h1>
                    <div class="p-tags">
                       <span class="badge bg-warning text-dark">Software Developer</span> 
                       <span class="badge bg-warning text-dark">IoT & AI Enthusiast</span>
                    </div>
                    
                    <p class="p-desc">
                        A Software Engineer and R&D professional of a gradually 
                        evolving IoT and Machine Learning based team from Therap 
                        Services, a HIPAA and SOC 2®  certified well-reputed USA 
                        based person centered, data driven electronic health 
                        records provider. This organization is working 
                        relentlessly to provide electronic documentation 
                        support to the health care facilities involved with 
                        the IDD industry. Moreover it is in the phase of expansion in advanced 
                        interdisciplinary fields such as IoT, Machine Learning 
                        of which I am a part and working actively as an R&D 
                        specialist.
                    </p>
                    <p class="p-desc">
                        Previously my work here involved designing, developing, 
                        and reviewing different features of different modules of 
                        the core application. I was responsible for ensuring 
                        performance enhancement, secured data transfer, countless 
                        bug fixing, collaborating with inter/intra-team members to 
                        ensure the apex quality of my assigned modules. In this process, 
                        my tech stack consists of Java EE and JVM-based technologies.
                    </p>
                    <p class="p-desc">
                        At present I am working as a team member of the IoT R&D 
                        team. My job responsibilities involve research and 
                        developing different IoT based workflows such as 
                        interfacing with APIs, interfacing with IoT device 
                        firmwares,  implementation of different IoT protocols, 
                        IoT security and all.
                    </p>
                    <p class="p-desc">
                        I have done my undergraduate from BRAC University on Electrical 
                        and Electronics Engineering with a major in Electronics and a 
                        minor in Computer Science. I am also pursuing my Masters in 
                        Computer Science from the same university. 
                    </p>
                    <p class="p-desc">
                        My ongoing research areas are Software Engineering, IoT security, 
                        Distributed Computing Systems, Artificial Intelligence and Data Science.
                    </p>
                    <!-- <a  class="p-readmore" href="#">Read More <img src="assets/img/play.png" 
                        alt="The icon for Read More" class="ml-2" width="15"/>
                    </a> -->
                </div>
                <h6 class="p-subs">Contact Me</h6>
                <div class="row">
                    <div class="col-sm-1 sm-icon-btn">
                        <ng-template #popContent>Email me @ <b>rimi.duty22@gmail.com</b>!</ng-template>
                        <button mat-mini-fab color="white" 
                                type="button" 
                                class="btn btn-outline-secondary mr-2" 
                                placement="left"
                                [ngbPopover]="popContent">
                            <img src="assets/img/gmail.png" alt="The icon for Gmail"/>
                        </button>
                    </div>
                    <!-- <div class="col-sm-1 sm-icon-btn">
                        <button type="button" 
                                class="btn btn-outline-secondary mr-2" 
                                placement="top"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." 
                                popoverTitle="Popover on top">
                                Popover on top
                        </button>
                    </div> -->
                    <div class="col-sm-1 sm-icon-btn">
                        <a mat-mini-fab color="white" href="https://www.linkedin.com/in/rimi-reza-duity/">
                            <img src="assets/img/linkedin.png" alt="The icon for LinkedIn"/>
                        </a>
                    </div>
                    <div class="col-sm-1 sm-icon-btn">
                        <a mat-mini-fab color="white" href="https://github.com/rimi22duity">
                            <img src="assets/img/github.png" alt="The icon for Github"/>
                        </a>
                    </div>
                    <div class="col-sm-1 sm-icon-btn">
                        <a mat-mini-fab color="white" href="https://www.facebook.com/rimi.duity">
                            <img src="assets/img/facebook.png" alt="The icon for Facebook"/>
                        </a>
                    </div>
                    <div class="col-sm-1 sm-icon-btn">
                        <a mat-mini-fab color="white" href="https://www.instagram.com/remus_the_ri/">
                            <img src="assets/img/instagram.png" alt="The icon for Instagram"/>
                        </a>
                    </div>
                </div>
                <!-- <br>
                <br>
                <div>
                    <h6 class="p-subs">Subscribe to Newsletter</h6>
                    <form class="form-inline col-sm-6" autocomplete="off">
                        <div class="input-group">
                            <input type="email" class="form-control" id="email" placeholder="Enter your email here"
                            autocomplete="off">
                            <button class="btn btn-warning">Subscribe</button>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>
    </div>
</section>
